<div class="container">
  <div class="panel">
    <div class="text">
      <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" style="background-color: #00293c; color: white;">
        <mat-card-title> Bienvenido - Portafolio Personal </mat-card-title>
        <mat-card-content>
          Bienvenido al Portafolio Personal de Un desarrador Web Desarrollador
          en Backend Full-Stack</mat-card-content
        >
      </mat-card>
    </div>
  </div>
  <div class="container mtop16">
    <div class="panel">
      <div class="text">
        <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" style="background-color: #00293c; color: white;">
          <a name="lenguaje-conocidos"
            ><mat-card-title>
              Lenguejes Con los Que he trabajado
            </mat-card-title></a
          >
          <div class="row mt-5">
            <div class="col-md-3 ml-2">
              <img
                mat-card-image
                src="http://localhost:4200/assets/img/php.svg"
                style="width: 100px; height: 100px "
              />
              <mat-card-content class="ml-3"> Php</mat-card-content>
              <img
                mat-card-image
                src="http://localhost:4200/assets/img/html.png"
                style="width: 100px; height: 100px; border-radius: 50%"
              />
              <mat-card-content class="ml-3"> HTML</mat-card-content>
            </div>
            <div class="col-md-3">
              <img
                mat-card-image
                src="http://localhost:4200/assets/img/javascript.png"
                style="width: 100px; height: 100px; border-radius: 50%;background-color: transparent;"
              />
              <mat-card-content>JavaScript</mat-card-content>
              <img
                mat-card-image
                src="http://localhost:4200/assets/img/css.png"
                style="width: 100px; height: 100px; border-radius: 50%"
              />
              <mat-card-content class="ml-3"> CSS</mat-card-content>
            </div>
            <div class="col-md-3">
              <img
                mat-card-image
                src="http://localhost:4200/assets/img/typescript.png"
                style="width: 100px; height: 100px; border-radius: 50%"
              />
              <mat-card-content>TipyScript</mat-card-content>
            </div>
            <div class="col-md-1">
              <img
                mat-card-image
                src="http://localhost:4200/assets/img/mysql.png"
                style="width: 100px; height: 100px"
              />
              <mat-card-content class="ml-2">MySQL</mat-card-content>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="container mtop16">
    <div class="panel">
      <div class="text">
        <mat-card style="background-color: #00293c; color: white;">
          <a name="frameworks"><mat-card-title> Frameworks </mat-card-title></a>
          <div class="row mt-5">
            <div class="col-md-3 ml-2">
              <img
                mat-card-image
                src="http://localhost:4200/assets/img/angular.png"
                style="width: 100px; height: 100px"
              />
              <mat-card-content class="ml-2"> Angular</mat-card-content>
              <img
                mat-card-image
                src="http://localhost:4200/assets/img/nodejs.png"
                style="width: 100px; height: 100px"
              />
              <mat-card-content class="ml-2"> NodeJS</mat-card-content>
            </div>
            <div class="col-md-3">
              <img
                mat-card-image
                src="http://localhost:4200/assets/img/laravel.png"
                style="width: 100px; height: 100px; border-radius: 50%"
              />
              <mat-card-content class="ml-2">Laravel</mat-card-content>
            </div>
            <div class="col-md-3">
              <img
                mat-card-image
                src="http://localhost:4200/assets/img/bootstrap.png"
                style="width: 100px; height: 100px; border-radius: 50%"
              />
              <mat-card-content class="ml-2">Boostrap</mat-card-content>
            </div>
            <div class="col-md-1">
              <img
                mat-card-image
                src="http://localhost:4200/assets/img/react.png"
                style="width: 100px; height: 100px; border-radius: 50%"
              />
              <mat-card-content class="ml-2">React</mat-card-content>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="container mtop16">
    <div class="panel">
      <div class="text">
        <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" style="background-color: #00293c; color: white;">
          <a name="proyectos"><mat-card-title> Proyectos </mat-card-title></a>
          <mat-card-content> </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="container mtop16">
    <div class="panel">
      <div class="text">
        <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)"style="background-color: #00293c; color: white;">
          <a name="quien-soy">
            <mat-card-title> ¿Quien Soy? </mat-card-title></a
          >
          <img
                mat-card-image
                src="http://localhost:4200/assets/img/me.jpg"
                style="width: 100px; height: 100px; border-radius: 50%"
              class="ml-3"/>
          <mat-card-content>
            Mi nombre es Jefferson Rolando Jacome Sandoya, me encanta todo lo
            relacionado con la tecnología, desde pequeño siempre me he esforzado
            por aprender lo mas posible por mi cuenta, ya sea investigando,
            leyendo o viendo cursos online; me considero alguien muy autodidacta
            y creo que todo lo que sé de tecnología hasta ahora, ha sido gracias
            a mi esfuerzo y pasión.</mat-card-content
          >
          <mat-card-actions>
            <a name="contacto">
              <mat-card-subtitle style="color: white;">Mis Redes Sociales</mat-card-subtitle></a
            >
            <div class="row">
              <div class="col-md-2">
                <a
                  href="https://api.whatsapp.com/send?phone=5930961618836&text=Hola,%20Acabo%20de%20ver%20su%20%20Pagina%20Web%20y%20quiero%20contactarte"
                >
                  <i class="fab fa-whatsapp fa-lg"></i>
                  <button mat-raised-button>Whatsapp</button>
                </a>
              </div>
              <div class="col-md-2">
                <a href="https://github.com/calvin261?tab=repositories">
                  <i class="fab fa-instagram fa-lg"></i>
                  <button mat-raised-button>GitHub</button></a
                >
              </div>
              <div class="col-md-2">
                <a
                  href="https://www.linkedin.com/in/jefferson-jacome-5a58651aa/"
                >
                  <i class="fab fa-linkedin fa-lg"></i>
                  <button mat-raised-button>Linkedin</button>
                </a>
              </div>
              <div class="col-md-3">
                <a href="mailto: jeffesjacome@gmail.com">
                  <i class="fas fa-envelope-square fa-lg" aria-hidden="true"></i>
                  <button mat-raised-button>Mail</button>
                </a>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
